svg {
    background-color: #ffffff;
    width: 900px;
}

:root {
    --green:#62aa58;
    --white: #ffffff;
    --black: #000000;
    --font-title: 32px;
    --font-subtitle: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--black);
  line-height: 3rem;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
}

.mainContainer {
  max-width: 70%;
}

.header {
  background: url(./header.png) no-repeat center center/cover;
  height: 600px;
  width: 100%;
  justify-content: end;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--white);
  width: 100%;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0px;
  font-family: "Space Mono", monospace;
  gap: 10px;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 20px;
}

h1, h2 {
  padding: 0px 60px;
  width: 70%;
}

.section {
  padding: 60px;
  border-bottom: gray 1px solid;
}

.two-columns {
  display: flex;
  flex-direction: column;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px 50px;
}

.visualisation-content {
  width: 100%;
}

.visualisation ul {
  width: 30vw;
}

.visualisation-content h3 {
  text-align: center;
}

h3 {
  font-size: var(--font-title);
  margin-bottom: 20px;
  font-family: "Space Mono", monospace;
}

span {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.hightlight {
  color: orange;
}

h4 {
  font-size: var(--font-subtitle);
}

.draft {
  height: 500px;
}

.sliderContainer{
  width: 100%;
  display: flex;
  gap:10px;
}

.slider{
  flex-grow: 1;
}

.visualisation-content > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

#playButton{
  background-color: #ffffff00;
  border:none;

  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.play{
  background-image: url("play-button.png");
}

.pause{
  background-image: url("pause.png");
}

.square {
  width: calc(20% - 20px); 
  margin-right: 20px;
  float: left;
  border: 1px solid #000;
  padding: 10px;
}

.square > p {
  font-weight: bold;
  font-size: 1.5vw;
}

.square > ul > li {
  font-size: 1vw;
}

.square:last-child {
  margin-right: 0;
}

.square h3 {
  margin-top: 0;
}

.square ul {
  list-style: none;
  padding-left: 0;
}

.square li {
  margin-bottom: 5px;
}

.imgBreakerDiv {
  height: 200px;
  display: flex;
  align-items: center;
}

.imgBreaker {
  position: absolute;
  left: 0;
  height: 400px;
}

.imgBreaker {
  background-image: url(imgBreaker.png);
  height: 200px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  width: 100%;
}

.imgBreakerText {
  font-size: 50px;
  color: white;
  z-index: 1;
  position: absolute;
  text-align: center;
}

.countryTable {
  height: 500px;
}

footer {
  padding: 50px;
  background-color: var(--green);
  color: var(--white);
  display: flex;
  justify-content: center;
}

.noLine {
  border-bottom: none;
}

.target > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.learning {
  display: flex;
  flex-direction: column;
  gap: 20px;
}