svg {
    background-color: black;
    width: 100%;
}

:root {
    --darkblue: #1F4675;
    --lightgreen: #6DC59D;
    --white: #ffffff;
    --font-title: 32px;
    --font-subtitle: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--darkblue);
  color: var(--white);
  line-height: 3rem;
}

.header {
  background: url(./banner.png) no-repeat center center/cover;
  height: 500px;
  width: 100%;
  position: relative;
}

.title {
  position: absolute;
  bottom: 40px;
  left: 185px;
  max-width: 75%;
}

h1, h2 {
  background-color: var(--darkblue);
  padding: 5px 20px;
}

.section {
  padding: 60px 200px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.bg-green {
  background-color: var(--lightgreen);
}

.visualisation-content h3 {
  text-align: center;
}

h3 {
  font-size: var(--font-title);
  margin-bottom: 20px;
}

span {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.hightlight {
  color: orange;
}

h4 {
  font-size: var(--font-subtitle);
}

.draft {
  height: 50vh;
}

.textColumn {
  width: 700px;
}